<%= form_with(model: cal, local: true) do |form| %>
  <% if cal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cal.errors.count, "error") %> prohibited this cal from being saved:</h2>

      <ul>
      <% cal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Primeiro Rendimento</label>
    <%= form.number_field :ryieldi %>
  </div>

  <div class="field">
    <label>Segundo Rendimento</label>
    <%= form.number_field :ryielde %>
  </div>

  <div class="field">
    <label>Primeira Produção</label>
    <%= form.number_field :prodi %>
  </div>

  <div class="field">
    <label>Segunda Produção</label>
    <%= form.number_field :prode %>
  </div>

  <div class="field">
    <label>Valor do Contrato / Preço Página</label>
    <%= form.text_field :cprice %>
  </div>
<div align="right">
  <%= button_tag( :class => "btn-floating btn-large waves-effect waves-light green", :value => "+") do %>+<i class="material-icons"></i>
<% end %>
</div>

  <!--<div class="actions">
    <%= form.submit '<i class="material-icons">add</i>'.html_safe, class:"btn-floating btn-large waves-effect waves-light green" %>
  </div> -->
<% end %>
